/**
* You can edit this whole file.
*/
@import url(https://fonts.google.com/specimen/Open+Sans);


* {
  box-sizing: border-box;
  padding-right: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
  font-family: 'Play', sans-serif;
}

.navBar{
  background-color: #20d397;
}

.img{
  width: 1.5rem;
}

.image{
  width: .75rem;
}

.dogos{
  color:#ffffff;
  font-family: 'Play', sans-serif;
}

a{
  text-decoration: none;
  color:#fff;
  font-family: 'Play', sans-serif;
  transition: all .5s;
}

nav a{
  color:#fff;
  text-align: right;
}

a:hover{
  border-bottom: 2px solid #fff;
  transform-origin:center;
}

nav a:focus{
  border-bottom: 2px solid #fff;
}

div a{
  padding: 2px 20px;
}

ul li{
  display:inline-block;
}

h1, h2{
  font-family: 'Play', sans-serif;
  margin: 15px 0px 0px 15px;
}

.content1, .content2, .content3{
  display: inline-block;
  border: 1px solid;
  border-color: #dddddd;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, .15);
  width: 295px;
  height: 100vh;
  margin: 20px 20px;
  margin-top:0;
  padding: 10px;
}

.content1{
  box-sizing: 50px;;
}

.learn{
  background-color: #8a2be2;
}







@media only screen and (max-width:500px) {
  .navBar {
    
  }
}