/**
* You can edit this whole file.
*/
@import url(https://fonts.google.com/specimen/Open+Sans);


* {
  box-sizing: border-box;
  padding-right: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}

.navR {
  display: none;
}

.navBar{
  background-color: #20d397;
  display: flex;
  justify-content: space-between;
}

.img{
  width: 1.5rem;
  margin: 5px 15px 10px 230px;
}

.image{
  width: .75rem;
  margin-right: 7px;
}

.dogos{
  color:#ffffff;
  font-family: 'Play', sans-serif;
  position: absolute;
  margin: 5px 0px 0px 270px;
}

a{
  text-decoration: none;
  color:#fff;
  font-family: 'Play', sans-serif;
  padding: 5px;
}

nav a{
  color:#fff;
  position: center;
  display: inline-block;

}

a:hover{
  border-bottom: 2px solid #fff;
}

nav a:focus{
  border-bottom: 2px solid #fff;
}

div a{
  padding: 2px 20px;
}

ul li{
  display:inline-flex;
  position: right;
}

h1{
  font-family: 'Play', sans-serif;
  margin: 15px 0px 15px 198px;
  font-size: 30px;
}

h2{
  font-family: 'Play', sans-serif;
  margin: 5px 0px 15px 15px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 180px;
}

.content{
  padding: 10px;
  margin: 20px;
  border: 1px solid;
  border-color: #dddddd;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, .15);
  width: 295px;
  /* margin-left: 50px; */
  }

/* .content1, .content2, .content3{
  display: inline-block;
  border: 1px solid;
  border-color: #dddddd;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, .15);
  width: 295px;
  height: 400px;
  padding: 10px;
}

.content1{
  margin-left: 150px;
}

.content2{
  margin-left: 120px
}

.content3{
  float:right;
  margin-right: 100px;
} */

.learn{
  background-color: #8a2be2;
  display: block;
  text-align: center;
  padding: 5px;
}

.image{
  width: .75rem;
}





@media only screen and (max-width:800px) {
  .navBar{
    display: none;
  }

  .navR {
    display: block;
    background-color: #20d397;
    font-family: 'Play', sans-serif;
    color: #fff;
    width: 100%;
  }

  .dogosR{
    font-family: 'Play', sans-serif;
    font-size: 30px;
    position: absolute;
    margin: 12px 10px 5px 20px;
  }

  .imgR{
    width: 3rem;
    margin-top: 10px;
    margin-left: 20px;
  }

  div{
    display: block;
    width: 100%;
    margin-right: 50px;

  }
  
}